.divNames {
  padding-left: 2em;
}

.divAmount {
  padding-left: 3em;
}

.divPriceInd {
  padding-left: 4em;
}

.divPriceTotal {
  padding-left: 3em;
}

@media (max-width: 768px) {
  .ContenerdoTabla {
    overflow-x: auto;
  }

  .gigachadaowo {
    width: 50vh;
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  .gigachadaowo {
    width: 25rem;
  }
}
