.img {
  width: 300px; /* Establece un ancho fijo  */
  height: 300px; /* Establece una altura fija */
  object-fit: cover;
}

.button {
  text-decoration: none;
}

.link {
  text-decoration: none;
  font-weight: 700;
}

.info {
  color: white;
  font-weight: 700;
}

.province {
  color: white;
  font-weight: 700;
}

.provinceContainer {
  background-color: rgb(228, 46, 0);
  max-width: fit-content;
  padding: 0.2em;
  border-radius: 10px;
  transform: scale(0.8);
}

.infoContainer {
  background-color: orange;
  border-radius: 10px;
  max-width: fit-content;
  padding: 0.2em;
}
