.container {
  display: flex;
  border-radius: 0.5rem;
  min-width: 85%;
  /* margin: 10px 0 10px 40px; */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.616);
  height: fit-content;
  margin-left: 8.5em;
}

.title {
  padding: 1em;
  min-width: 300px;
  max-width: 300px;
  overflow-wrap: break-word;
}

.name {
  overflow-wrap: break-word;
  border-radius: 10px;
  padding: 0.2em;
  font-weight: bold;
  color: black;
}

.province {
  background-color: rgba(228, 46, 0, 0.999);
  padding: 0.2em;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

.rating {
  margin: 0.5em;
  margin-bottom: 22px;
}

.imgRating {
  height: 20px;
  width: auto;
  /* padding: 0.2em; */
}

.imgHotel {
  width: 18em;
  object-fit: cover;
  border-radius: 0.5rem 0 0 0.5rem;
  height: 100%;
}

.imgContainer {
  position: relative;
}

.button {
  position: absolute;
  top: 0;
  left: 0;
  margin: 7px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
}

.description {
  max-height: 200px;
  overflow: hidden;
}

.link {
  text-decoration: none;
}
.link:hover {
  background-color: #fcb044;
}

.botonDetail {
  background-color: rgba(228, 110, 0, 0.999);
  padding: 0.2em;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  border: none;
  transform: scale(0.8);
}

@media (max-width: 450px) {
  .container {
    display: flex;
    flex-direction: column;
    max-width: 200px;
  }
}

@media (max-width: 1275px) {
  p {
    display: none;
  }
}

.divJose {
  min-width: 650px;
  display: flex;
  justify-content: space-between;
}

.divJose1 {
  display: flex;
  align-items: center;
}
