.container {
  display: flex;
  border-radius: 0.5rem;
  min-width: 600px;
  margin: 7px 0 10px 40px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.616);
}

.title {
  padding: 1em;
  min-width: 300px;
  max-width: 300px;
  overflow-wrap: break-word;
}

.name {
  overflow-wrap: break-word;
  border-radius: 10px;
  padding: 0.2em;
  font-weight: 900;
  color: black;
}

.province {
  background-color: rgb(228, 46, 0);
  padding: 0.2em;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  transform: scale(0.8);
}

.imgHotel {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 0.5rem 0 0 0.5rem;
}

.imgContainer {
  position: relative;
}

.button {
  position: absolute;
  top: 0;
  left: 0;
  margin: 7px;
  border-radius: 50%;
}

.description {
  max-height: 200px;
  overflow: hidden;
}

.link {
  text-decoration: none;
}
.link:hover {
  background-color: #fcb044;
}

@media (max-width: 450px) {
  .div {
  }
}
