.container {
  width: fit-content;
  height: fit-content;
  scroll-snap-type: y mandatory;
  display: flex;
  overflow-x: hidden;
}

.item {
  height: fit-content;
}

.carousel {
  width: 500px;
  height: 350px;
  border-radius: 10px;
}

.img {
  width: 500px;
  height: 350px;
  border-radius: 15px;
}

@media (max-width: 1080px) {
  .carousel {
    width: 280px;
    height: 300px;
  
  }
  .img {
    width: 280px;
    height: 300px;
  
  }
}
