.section {
  padding-top: 10vh;
  min-height: 80vh;
}

.divConteiner {
  text-align: center;
  padding: 20px;
}

.divHotels {
  padding-top: 10vh;
  min-height: 80vh;
  background-color: azure;
  -webkit-box-shadow: 4px 13px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 13px 25px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 13px 25px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}
.saludo {
  justify-content: center;
  text-align: center;
  align-items: center;
}
.section {
  padding-top: 10vh;
  min-height: 10vh;
}

.divFavorites {
  text-align: center;
  padding: 30px;
}

.divRewies {
  text-align: center;
  padding: 20px;
}
