.section {
  padding-top: 10vh;
  min-height: 80vh;
}

.divConteiner {
  text-align: center;
  padding: 20px;
}

.divHotels {
  padding-top: 10vh;
  min-height: 80vh;
  background-color: azure;
  -webkit-box-shadow: 4px 13px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 13px 25px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 13px 25px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}
.saludo {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.x{
  margin-top: 10vh;
}

.LinkFormHotel{

  width: fit-content;
 margin-right: auto;
 margin-left: auto;
 
}

