.ContainerGraficoBar {
  width: 600px;
  height: 400px;
  margin: 20px;
}

.ContainerGraficoLinea {
  width: 600px;
  height: 400px;
  margin: 20px;
}

@media (max-width: 550px) {
  .ContainerGraficoLinea {
    width: 240px;
    height: 200px;
  }
}

@media (max-width: 550px) {
  .ContainerGraficoDona {
    width: 250px;
    height: fit-content;
  }
  .ContainerGraficoBar {
    width: 240px;
    height: 200px;
  }
}
