.ContainerGraficoBar {
  width: 600px;
  height: 400px;
  margin: 20px;
}

.ContainerGraficoLinea {
  width: 600px;
  height: 400px;
  margin: 20px;
}

@media (max-width: 550px) {
  .ContainerGraficoLinea {
    width: 240px;
    height: 350px;
  }
}

@media (max-width: 550px) {
  .ContainerGraficoBar {
    width: 240px;
    height: 330px;
  }
}
