.container {
  padding-top: 10vh;
}

.section {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  margin: 40px;
  /* margin: 150px; */
}

.item {
  height: 90vh;
}

.filtroContainer {
  position: sticky;
  top: 50;
  margin-left: -50px;
  width: 200px;
  margin: 40px;
}

.divCard {
  height: 800px;
  width: 100%;
}
