.container{

}

.form {
    padding-top: 2em;
    min-width: 500px;
    max-width: 500px;
    margin-top: 11vh;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 5px rgba(1, 1, 1, 0.);
    
  }
  
  .error {
    visibility: visible;
    color: rgb(255, 0, 0);
  }
  
  .hidden {
    visibility: hidden;
  }
  
  .tipoHab {
    color: grey;
  }

  .volver{
    margin-top: 10rem;
    background-color: red;
  }
