.DivPadre {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.divEleccion {
  text-align: center;
  height: 300%;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
  background-image: url("https://dynamic-media-cdn.tripadvisor.com/media/photo-o/24/43/49/95/exterior-of-buena-vista.jpg?w=1200&h=-1&s=1");
  background-size: cover;
  background-position: center;
}

.divEleccion h1 {
  font-size: 20px;
  margin-bottom: 10px;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.button {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: #c48623;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 50px;
  text-align: center;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.button:hover {
  background-color: #e5bd2e;
  box-shadow: 0px 15px 20px rgba(229, 189, 46, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.button:active {
  transform: translateY(-1px);
}
