.select {
  appearance: none;
  cursor: pointer;
  color: white;
  background-color: orange;
  width: 150px;
  padding: 5px;
  border: 2px solid white;
  margin: 5px;
  /* position: fixed; */
}

.td {
  padding: 5px;
}

.checkbox_btn {
  display: block;
  position: relative;
  margin-bottom: -10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox_btn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox_btn label {
  cursor: pointer;
  font-size: 14px;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1.6px solid black;
  transition: 0.2s linear;
}
.checkbox_btn input:checked ~ .checkmark {
  background-color: transparent;
}

.checkmark:after {
  content: "";
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  top: 40%;
  width: 10px;
  height: 14px;
  border: 2px solid orange;
  filter: drop-shadow(0px 0px 10px orange);
  border-width: 0 2.5px 2.5px 0;
  transition: 0.2s linear;
  transform: translate(-50%, -50%) rotate(-90deg) scale(0.2);
}

.checkbox_btn input:checked ~ .checkmark:after {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%) rotate(0deg) scale(1);
  animation: pulse 1s ease-in;
}

.checkbox_btn input:checked ~ .checkmark {
  transform: rotate(45deg);
  border: none;
}

@keyframes pulse {
  0%,
  100% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1.6);
  }
}

.button {
  width: 100px;
  height: 55px;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f7931e;
  color: #fff;
  cursor: pointer;
  margin: 10px;
}
