.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  padding: 0 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  z-index: 3;
  color: white;
}

.logo {
  color: rgb(255, 255, 255);
  display: flex;
}
.p {
  margin: auto;
  font-weight: bold;
}

.img {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  margin-right: 1em;
}

.links {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 10px;
}

.menuToggle {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
  padding: 5px;
}

.menuToggleBar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
  margin-bottom: 5px;
  transition: background-color 0.3s ease;
}

@media screen and (max-width: 768px) {
  .nav {
    padding: 0 5%;
  }

  .logo {
    margin-bottom: 10px;
  }

  .link {
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .menuToggle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  .menuToggleBar {
    width: 30px;
  }

  .links {
    flex-direction: column;
    align-items: flex-end;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .links.active {
    max-height: 200px;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
}